<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ingreso de Datos</title>
</head>
<body>
    <h2>Ingreso de Datos</h2>
    <form id="formulario">
        <label for="donacion">Donación:</label>
        <input type="number" id="donacion" name="donacion" required><br><br>
        
        <label for="gasto">Gasto:</label>
        <input type="number" id="gasto" name="gasto" required><br><br>
        
        <label for="ingreso">Ingreso:</label>
        <input type="number" id="ingreso" name="ingreso" required><br><br>
        
        <button type="submit">Guardar</button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
